{% extends 'core/base.html' %}
{% load static %}

{% block background %}
{% static 'core/images/val.jpg' %}
{% endblock %}

{% block cont %}
<div class="row">         
  <div class="col-md-6">
    <div class="heading">  
      <h2>Tienda de Chile</h2>
      <br/>
    </div> 

</div>
<div class="div1"> <img src="{% static 'core/images/vpCH.png' %}"> </div>
<p>Estos son los precios actuales de los valorant points en Chile.</p>
  </div>

  <div class="row">         
    <div class="col-md-6">
      <div class="heading">  
        <h2>Tienda de España</h2>
        <br/>
      </div> 
  
  </div>
  <div class="div1"> <img src="{% static 'core/images/vpSP.jpeg' %}"> </div>
  <p>Estos son los precios actuales de los valorant points en España.</p>
    </div>
  
  <div class="col-md-6">
      <div class="blockquote-box blockquote-info clearfix">


{% endblock %}